.vscode
.history
.idea
.vim
albert/.config/albert/core.db
albert/.config/albert/last_used_version
albert/.local/share/albert/org.albert.extension.python/modules/__pycache__/
neovim/.config/nvim/backup/
neovim/.config/nvim/undo/
neovim/.config/nvim/swap/
ranger/.config/ranger/plugins/
neovim/.config/nvim/.netrwhist
neovim/.config/nvim/coc-settings.json
